#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: Gold;
    height: 70px;
    text-align: center;
    z-index: 4;
}
#header * {
    display: inline-block;
}

#map,
#street-view {
  height: 50%;
  width: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Barlow Condensed', sans-serif;
}